---
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: mirrio
spec:
  schedule: '0 2 * * *'
  failedJobsHistoryLimit: 3
  successfulJobsHistoryLimit: 1
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: mirrio
              image: ghcr.io/containeroo/mirrio:latest
              env:
                - name: SOURCE_ACCESSKEY
                  valueFrom:
                    secretKeyRef:
                      key: accesskey
                      name: gitlab-minio-secret
                - name: SOURCE_SECRETKEY
                  valueFrom:
                    secretKeyRef:
                      key: secretkey
                      name: gitlab-minio-secret
                - name: ADDITIONAL_PARAMETERS
                  value: --debug --force
                # optional
                # - name: PUSHGATEWAY_URL
                #   value: http://prometheus-pushgateway.monitoring.svc.cluster.local:9091
              envFrom:
                - secretRef:
                    name: mirrio
          restartPolicy: Never
